$color-theme: rgb(50, 62, 79);

.header {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;
}

// CV SECTION
.cv-section {
  z-index: 10;
  background-color: white;
}

.table {
  width: 100%;
  h1 {
    font-size: 7vw;
    color: $color-theme;
  }
  h1:hover {
    color: #eb445a;
  }
  h2 {
    font-size: 5vw;
    color: $color-theme;
  }
  h3 {
    font-size: 3vw;
    color: $color-theme;
  }
  h4 {
    font-size: 2.18vw;
    color: $color-theme;
  }
  p, li {
    font-size: 1.5vw;
  }
  .bigSection {
    width: 70%;
  }
  .half-section {
    width: 50%;
  }
  .semiBigSection {
    width: 60%;
  }
  .threeSection {
    width: 33%;
  }
  .photoSection {
    width: 45%;
    .profilePhoto {
      width: 80%;
      filter: grayscale(100%);
      margin-left: 3%;
      border-bottom: 1vw solid $color-theme;
    }
    .profilePhoto:hover {
      filter: grayscale(0%) !important;
    }
  }
  .right-align {
    text-align: right;
  }
  .no-margin {
    margin: 0px !important;
  }
  .title-text {
    border-left: 1vw solid $color-theme;
  }
  .subtitle-text {
    margin-top: 0px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .line {
    height: 1vw;
    border-bottom: 1vw solid $color-theme;
  }
  .extraFullWidth {
    width: 150%;
  }
  .invisible {
    opacity: 0;
  }
  .padding-left {
    padding-left: 15px;
  }
  .padding-right {
    padding-right: 15px;
  }
}
