<ion-content>
  <div class="header">
    <app-dubai-art></app-dubai-art>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentDownloadActions()" color="dark">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="cv-section">
    <table class="table">
      <tr>
        <td class="ion-padding bigSection">
          <h1 class="extra-heavy no-margin">Jad Harmoush</h1>
          <h4 class="heavy no-margin">PROJECT MANAGER – FULL STACK DEVELOPER</h4>
        </td>
        <td class="ion-padding right-align">
          <p>
            <span (click)="copyNumber()" class="link-text">+971 58 584 2305</span>
            <br>
            contact<b>@<u>jadharmoush</u></b><u>.com</u>
            <br>
            <span (click)="copyEmail()" class="link-text">Email</span> – <span class="link-text" (click)="goToLinkedIn()"><b>LinkedIn</b></span> - <span (click)="goToWebsite()" class="link-text"><u>Website</u></span>
          </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="photoSection">
          <img class="profilePhoto" src="../../assets/images/jad-forward.png">
          <div class="image-line"></div>
        </td>
        <td class="ion-padding">
          <p>
            American, Lebanese Web & Software developer with a large experience in building high quality, responsive websites, CRM/ERM systems and mobile apps.
          </p>
          <p>
            I have a strong passion for coding and building quality systems, as I was qualified 2nd in Lebanon in computer programming competitions from as early as 14 years old, then I pursued computer science / software engineering in Aix-en-Provence, France.
          </p>
          <p>
            I have a strong knowledge of scripting languages, server systems and data-base management & my past work includes building
            user-focused, dynamic, and responsive websites for clients and work.
          </p>
          <p>
            My main strength is using modern programming to create modern apps focused on user engagement while cutting development cost
            and duration.
          </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="ion-padding">
          <h2 class="extra-heavy title-text uppercase">&nbsp;Work Experience</h2>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-left semiBigSection">
          <h3 class="heavy subtitle-text uppercase">dubai civil aviation authority</h3>
          <div class="line extraFullWidth"></div>
          <p class="heavy invisible uppercase">Extra </p>
        </td>
        <td class="padding-right half-section">
          <h3 class="heavy subtitle-text right-align uppercase">front end developer</h3>
          <div class="line fullWidth"></div>
          <p class="heavy right-align uppercase">october 2020 – current </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-right">
          <ul>
            <li>Developed and implemented new features to the DCAA internal system and website (Chat sessions, Ticketing, Paperless services, etc.)</li>
            <li>Created advanced querying system that can generate reports for DCAA employees using Lambda expressions, first of a kind in the UAE</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-left semiBigSection">
          <h3 class="heavy subtitle-text uppercase">jay softworks</h3>
          <div class="line extraFullWidth"></div>
          <p class="heavy invisible uppercase">Extra </p>
        </td>
        <td class="padding-right half-section">
          <h3 class="heavy subtitle-text right-align uppercase">project manager</h3>
          <div class="line fullWidth"></div>
          <p class="heavy right-align uppercase">november 2019 – current  </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-right">
          <ul>
            <li>Created my IT company in France where I built websites for businesses and created an online platform for QR menus for restaurants during the first stages of the pandemic</li>
            <li>Created Beauty Salon app and websites where salons can register and customers can reserve salon appointments, based in the United States.</li>
            <li>Created responsive websites for small businesses to reach their clients in a dynamic approach with a newsletter, survey, and email subscriptions, making non tec. owners able to expand their companies online with full support.</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-left semiBigSection">
          <h3 class="heavy subtitle-text uppercase">htcc & automak (internship)</h3>
          <div class="line extraFullWidth"></div>
          <p class="heavy invisible uppercase">Extra </p>
        </td>
        <td class="padding-right half-section">
          <h3 class="heavy subtitle-text right-align uppercase">web developer & it</h3>
          <div class="line fullWidth"></div>
          <p class="heavy right-align uppercase">may 2015 – jun 2017 / jan 2014 – apr 2015  </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-right">
          <ul>
            <li>One of my first big projects where I built a web application platform for car insurance company where registered users can access their car data and book car maintenance appointments straight from the website.</li>
            <li>Got an Internship in Kuwait where i was responsible for maintaining website, creating new content and creating marketing campaigns. The Internship lasted 3 months.</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="ion-padding">
          <h2 class="extra-heavy title-text uppercase">&nbsp;education</h2>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-left semiBigSection">
          <h3 class="heavy subtitle-text uppercase">université aix marseille</h3>
          <div class="line extraFullWidth"></div>
          <p class="heavy invisible uppercase">Extra </p>
        </td>
        <td class="padding-right half-section">
          <h3 class="heavy subtitle-text right-align uppercase">computer engineering</h3>
          <div class="line fullWidth"></div>
          <p class="heavy right-align uppercase">2017 – 2020   </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-right">
          <ul>
            <li>Understand how computer systems work (networks, operating systems, architectures, programming languages and database management systems), use their dedicated tools, design interfaces.</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="ion-padding">
          <h2 class="extra-heavy title-text uppercase">&nbsp;key skills</h2>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="semiBigSection">
          <ul>
            <li>Ability to develop and maintain front and back-end code to a high standard and to agreed timescales.</li>
            <li>Ability to review other developer’s solutions and code.</li>
            <li>Ability to provide clear regular progress updates to managers and stakeholders.</li>
            <li>Ability to produce comprehensive documentation.</li>
            <li>Able to act as first-line technical support for issues and bugs.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>PHP, MySQL, NoSQL</li>
            <li>C / C++ / Java / Python</li>
            <li>Typescript / JavaScript</li>
            <li>HTML / CSS</li>
            <li>CMS – Magento, Drupal, WordPress, Joomla</li>
            <li>Version Control – Git</li>
            <li>Angular / AngularJS</li>
            <li>Ionic, React, Flutter</li>
            <li>.NET</li>
            <li>Adobe Suit / Microsoft Suit</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="ion-padding">
          <h2 class="extra-heavy title-text uppercase">&nbsp;languages</h2>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="threeSection">
          <ul>
            <li>English - Native</li>
          </ul>
        </td>
        <td class="threeSection">
          <ul>
            <li>Arabic - Native</li>
          </ul>
        </td>
        <td class="threeSection">
          <ul>
            <li>French - Native</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="ion-padding">
          <h2 class="extra-heavy title-text uppercase">&nbsp;additional accomplishments</h2>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="padding-right">
          <ul>
            <li>Certificate of mediation from Saint Joseph University Lebanon</li>
            <li>French and Lebanese Baccalaureate and SAT at Carmel Saint Joseph Lebanon</li>
            <li>2nd in Lebanon at Castor Informatique competition</li>
            <li>Project Manager Certificate - Google</li>
            <li>Excellance - DCAA</li>
          </ul>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="ion-padding">
          <h2 class="extra-heavy title-text uppercase">&nbsp;references</h2>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="threeSection ion-padding-horizontal">
          <p class="centerText">
            <b>Kishor Chaudhairy</b>
            <br><i>Founder & CEO Niluz inc. California</i>
            <br>+1 91658886393
          </p>
        </td>
        <td class="threeSection ion-padding-horizontal">
          <p class="centerText">
            <b>Mr. Adib Tayeb Al Madani</b>
            <br><i>Head of Smart Services Section Dubai Civil Aviation Authority</i>
            <br>Contact Information by request
          </p>
        </td>
        <td class="threeSection ion-padding-horizontal">
          <p class="centerText">
            <b>Hassan Safadi</b>
            <br><i>Head of CPMPN Aix-en-Provence - France</i>
            <br>+33 789438459
          </p>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="fullWidth">
          <img class="halfWidth centerContent" src="assets/images/signature.svg">
        </td>
      </tr>
    </table>
  </div>
</ion-content>
