// Variables
$logoColor: #220849;
$secondaryColor: #ff9b3d;
$blueGrey: #607d8b;
$lightGrey: #868686;
$veryLightGrey: #eeeeee;
$validateFail: rgb(138, 19, 19);
$validateSuccess: rgb(33, 138, 19);
$validatePending: rgb(211, 190, 7);

// Fonts
@font-face {
  font-family: Manrope;
  src: url(../fonts/manrope.ttf);
}

@font-face {
  font-family: jayFont;
  src: url(../fonts/JayFont.ttf);
}

h1,
h2,
h3,
h4,
h5,
p,
ion-label,
ion-button,
ion-card-content,
ion-title, li {
  font-family: Manrope, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

// Corrections
input#uploadBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

ion-select {
  width: 100%;
  text-align: left;
}

// Text Weights
.extra-heavy {
  font-weight: 900 !important;
}

.heavy {
  font-weight: 600 !important;
}

.medium {
  font-weight: 400;
}

.light {
  font-weight: 100;
}

.allCaps {
  text-transform: uppercase;
}

.link-text-colored {
  cursor: pointer;
}

.link-text {
  cursor: pointer;
}

// Text Sizes
.xBigText {
  font-size: xx-large;
}

.bigText {
  font-size: large;
}

.mediumText {
  font-size: medium;
}

.smallText {
  font-size: small;
}

.topLabel {
  font-size: 22px !important;
  font-weight: 300 !important;
}

.topLabel2 {
  margin-top: 0px !important;
  padding-top: 0px !important;
  color: #999 !important;
  letter-spacing: -1px;
  font-size: 16px !important;
  font-weight: 400 !important;
}

// Divider Positioning
.centerPage {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerText {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.fullPage {
  height: 100%;
  width: 100%;
}

.halfWidth {
  width: 50%;
}

// Margins & Padding
.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.padding-sides {
  padding-left: 15px;
  padding-right: 15px;
}

// Coloring
.backgroundLightColor {
  background-color: $lightGrey;
}

.backgroundVeryLightColor {
  background-color: $veryLightGrey;
}

.logoColor {
  color: $logoColor;
}

.lightGrey {
  color: $lightGrey;
}

.veryLightGrey {
  color: $veryLightGrey;
}

.pendingColor {
  color: $validatePending;
}

.successColor {
  color: $validateSuccess;
}

.dangerColor {
  color: $validateFail;
}

.secondaryColor {
  color: $secondaryColor;
}

// Styled Input
.styledInput {
  --border-color: #eee;
  --border-width: 1px;
  --box-shadow: 0px #eee;
  --highlight-height: 0;
  --background: #f8f9fa;

  margin-bottom: 5px;
}

.roundedInput8px {
  @extend .styledInput;
  --border-radius: 8px;
}
.roundedInput12px {
  @extend .styledInput;
  --border-radius: 12px;
}
.roundedInput25px {
  @extend .styledInput;
  --border-radius: 25px;
}

.component-icon {
  border-radius: 50%;
  padding: 7px;
  height: 18px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.component-icon.size100 {
  height: 100px;
  width: 100px;
}
.component-icon.size80 {
  height: 80px;
  width: 80px;
}
.component-icon.size70 {
  height: 70px;
  width: 70px;
}
.component-icon.size50 {
  height: 50px;
  width: 50px;
}
.component-icon.size40 {
  height: 40px;
  width: 40px;
}
.component-icon.size25 {
  height: 25px;
  width: 25px;
}
.component-icon.size15 {
  height: 15px;
  width: 15px;
}
.component-icon-bg {
  background: var(--ion-color-medium);
  color: #fff;
}

// Modals
.from-bottom-modal .modal-wrapper {
  height: 40%;
  top: 60%;
  position: absolute;
  display: block;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.from-middle-modal .modal-wrapper {
  height: 400px;
  width: 300px;
  margin: 0px 5px !important;
  position: absolute;
  border-radius: 8px !important;
  display: block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
