<div class="action_button">
  <div id="container">
    <button (click)="clickButton()" class="learn-more">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">{{buttonText}}</span>
    </button>
  </div>
</div>
