.art_holder {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  .clouds {
    //position: relative;
    height: 100%;
    width: 100%;
    //z-index: 999;
    .cl1 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
    }

    .cl2 {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: 25px;
      background: #fff;
    }

    .cl3 {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      position: absolute;
      top: -25px;
      left: 100px;
      background: #fff;
    }

    .cl4 {
      width: 110px;
      height: 15px;
      background: #fff;
      position: absolute;
      left: 25px;
      top: 35px;
    }

    .cloud1 {
      margin-top: 100px;
      position: relative;
      z-index: 3;
    }

    .cloud2 {
      margin-top: 150px;
      position: relative;
      z-index: 5;
    }

    .cloud1 {
      animation: slide 20s linear infinite;
    }

    .cloud2 {
      animation: slide 30s linear infinite;
    }
  }
  .background1 {
    position: absolute;
    height: 15vh;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-image: url(../../../assets/images/dubaiBackgrounds/backBuilding.svg);
    background-position: bottom;
    background-size: 10vh;
    background-repeat: repeat-x;
  }
  .background2 {
    position: absolute;
    height: 25vh;
    bottom: 0px;
    left: -5%;
    width: 110%;
    background-image: url(../../../assets/images/dubaiBackgrounds/cityBackBase.svg);
    background-position: bottom;
    background-size: contain;
    @media only screen and (max-width: 500px) {
      opacity: 0;
    }
  }
  .background3 {
    position: absolute;
    height: 30vh;
    opacity: 0.6;
    bottom: 0px;
    left: -5%;
    width: 110%;
    background-image: url(../../../assets/images/dubaiBackgrounds/cityBack.svg);
    background-position: bottom;
    background-size: contain;
    @media only screen and (max-width: 500px) {
      opacity: 0;
    }
  }
  .absoluteButton {
    position: absolute;
    z-index: 100;
    top: 10px;
  }
  .right {
    right: 10px;
  }
  .left {
    left: 10px;
  }
  .text_div {
    position: fixed;
    top: 27%;
    width: 100%;
    height: 11rem;
    z-index: 3;
    h1 {
      font-size: 8vw;
      @media only screen and (max-width: 500px) {
        font-size: 7vh;
      }
    }
    img {
      height: 30vw;
    }
    .special_letter {
      text-shadow: -4px 4px darkred;
    }
    .color1 {
      color: #eb445a;
    }
    .color2 {
      color: #435655;
    }
  }
  .burj {
    position: absolute;
    left: 50%;
    bottom: -10px;
    height: 99vh;
    z-index: 4;
    @media only screen and (max-width: 500px) {
      height: 80vh;
    }
  }
  .burjArab {
    position: absolute;
    left: 5%;
    bottom: -5vh;
    height: 80vh;
    z-index: 10;
    @media only screen and (max-width: 500px) {
      height: 50vh;
    }
  }
  .bigBuildings {
    position: absolute;
    right: 52%;
    bottom: -5vh;
    width: 20vw;
    .building1 {
      position: absolute;
      height: 80vh;
      bottom: 0;
      left: 0;
      z-index: 10;
    }
    .building2 {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 70vh;
      z-index: 2;
    }
    @media only screen and (max-width: 500px) {
      opacity: 0;
    }
  }
  .horizontalBuilding {
    position: absolute;
    right: -10vw;
    bottom: -15px;
    width: 45vw;
    z-index: 2;
    @media only screen and (max-width: 500px) {
      opacity: 0;
    }
  }
}

.background {
  background-color: #000;
  background-image: url(../../../assets/images/extras/starfield.jpg);
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  .sun {
    width: 15vw;
    height: 15vw;
    background: #ff0;
    background: radial-gradient(
      ellipse at center,
      #f90 0%,
      #fc0 60%,
      #ff0 100%
    );
    border-radius: 100%;
    position: absolute;
    bottom: -7vw;
    right: 7vw;
    transform-origin: -28vw 7vw;
    animation: suntrack 24s infinite forwards linear,
      sunpulse 2s alternate infinite;
  }
  .moon {
    background-image: url(../../../assets/images/extras/moon.png);
    width: 15vw;
    height: 15vw;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    border-radius: 100%;
    bottom: -7vw;
    right: 7vw;
    transform-origin: -28vw 7vw;
    animation: moontrack 24s infinite forwards linear;
    opacity: 0.8;
  }
}

.whiteText {
  color: white;
}

@keyframes suntrack {
  from {
    transform: rotate(0.15turn);
  }
  to {
    transform: rotate(-0.85turn);
  }
}

@keyframes sunpulse {
  from {
    box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
  }
  to {
    box-shadow: 0 0 50px #ff0, 0 0 75px #ff0;
  }
}

@keyframes slide {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(1366px);
  }
}
