<ion-grid>
  <ion-row>
    <ion-col>
      <div class="funfact">
        <h3><span [countUp]="29">00</span></h3>
        <p>Happy Customers</p>
      </div>
    </ion-col>
    <ion-col>
      <div class="funfact">
        <h3><span [countUp]="34">00</span>+</h3>
        <p>Finished Projects</p>
      </div>
    </ion-col>
    <ion-col>
      <div class="funfact">
        <h3><span [countUp]="2">00</span></h3>
        <p>Active Projects</p>
      </div>
    </ion-col>
    <ion-col>
      <div class="funfact">
        <h3><span [countUp]="5">00</span>+</h3>
        <p>Experience Years</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>