<div class="main">
  <div id="lampadario">
    <input type="radio" (click)="switchLight()" name="switch" value="on" />
    <input type="radio" (click)="switchLight()" name="switch" value="off" checked="checked"/>
    <label for="switch"></label>
    <div id="filo"></div>
    <div id="lampadina">
      <div id="sorpresa">
      </div>
    </div>
  </div>

  <div class="text_place centerText">
    <p style="font-size: x-small;">Click Me</p>
    <h3>Let's Talk &</h3>
    <h1 *ngIf="!light" class="hiding">Share Ideas</h1>
    <h1 *ngIf="light" class="revealed">Share Ideas</h1>
  </div>
  <div *ngIf="light" class="multi-color-button">
    <a href="tel:+971585842305"><span>Give me a call</span></a>
  </div>

  <div class="bottomText">
    <p class="centerText">@2021 Copyrights / created with Ionic - Angular</p>
  </div>
</div>
