$width: 220px;
$height: 70px;
$border: 4px;

$violet: #6559ae;
$orange: #ff7159;

$deg: 120deg;
$size: 400%;
$dur: 3s;

@mixin clip-frame($width, $height, $border) {
  -webkit-clip-path: polygon(
    0% 100%,
    $border 100%,
    $border $border,
    $width - $border $border,
    $width - $border $height - $border,
    $border $height - $border,
    $border 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
}

.main {
  position: relative;
  min-height: 550px;
  background-color: #3b3f46;
  .text_place {
    padding-top: 240px;
    color: rgb(196, 194, 194);
    .hiding {
      color: rgb(128, 128, 128);
    }
    .revealed {
      color: azure;
    }
  }
  .bottomText {
    position: absolute;
    bottom: 15px;
    width: 100%;
    p {
      font-size: x-small;
      color: white;
    }
  }
}

.multi-color-button {
  position: relative;
  margin-top: 50px;
  a {
    display: block;
    @extend .absolute-centering;
    width: $width;
    height: $height;
    @extend .text-formatting;
    z-index: 1;

    &:after {
      content: "";
      @extend .absolute-centering;
      background: linear-gradient($deg, $violet, $orange, $violet);
      background-size: $size $size;
      @include clip-frame($width, $height, $border);
      animation: gradient $dur ease-in-out infinite,
        border 1s forwards ease-in-out reverse;
    }

    & > span {
      display: block;
      background: linear-gradient($deg, $violet, $orange, $violet);
      background-size: $size $size;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient $dur ease-in-out infinite;
    }
  }

  /* helpers */

  .absolute-centering {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .text-formatting {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    // letter-spacing: 2px;
    line-height: 70px;
    font-family: Manrope, cursive;
    font-size: 20px;
  }
}

#lampadario {
  position: absolute;
  left: 50%;
  top: 0;
}
#filo {
  position: relative;
  background-color: #000000;
  width: 2px;
  height: 150px;
  left: 50%;
  margin-left: -1px;
  z-index: 1;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: oscillaFilo 0.9s ease-in-out 0s infinite alternate;
  -moz-animation: oscillaFilo 0.9s ease-in-out 0s infinite alternate;
  -ms-animation: oscillaFilo 0.9s ease-in-out 0s infinite alternate;
  -o-animation: oscillaFilo 0.9s ease-in-out 0s infinite alternate;
  animation: oscillaFilo 0.9s ease-in-out 0s infinite alternate;
}
#filo:after {
  content: " ";
  left: -5px;
  top: 100%;
  position: absolute;
  border-bottom: 15px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 4px;
}
#lampadina {
  position: relative;
}
input[value="off"]:checked ~ #filo {
  -webkit-box-shadow: -80px -10px 7px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -80px -10px 7px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -80px -10px 7px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: -80px -10px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -80px -10px 7px 0 rgba(0, 0, 0, 0.1);
}
input[value="off"]:checked ~ #filo:after {
  -webkit-box-shadow: -80px -10px 10px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -80px -10px 10px -2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -80px -10px 10px -2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -80px -10px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: -80px -10px 10px -2px rgba(0, 0, 0, 0.1);
}

input {
  position: absolute;
  width: 90px;
  height: 70px;
  top: 150px;
  margin-left: -45px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

input[value="on"] {
  top: 150px;
}
input[value="off"] {
  top: -100px;
}
input[value="on"]:checked {
  top: -100px;
}
input[value="on"]:checked + input[value="off"] {
  top: 150px;
}

label {
  width: 51px;
  height: 51px;
  top: 164px;
  position: absolute;
  left: 0;
  margin-left: -24px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: oscillaLampadina 0.9s ease-in-out 0s infinite alternate;
  -moz-animation: oscillaLampadina 0.9s ease-in-out 0s infinite alternate;
  -ms-animation: oscillaLampadina 0.9s ease-in-out 0s infinite alternate;
  -o-animation: oscillaLampadina 0.9s ease-in-out 0s infinite alternate;
  animation: oscillaLampadina 0.9s ease-in-out 0s infinite alternate;
}
input[value="off"]:checked ~ label {
  background: rgba(255, 255, 255, 0.03);
  -webkit-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1),
    inset 0px 2px 20px rgba(255, 255, 255, 0.07),
    -80px -15px 15px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1),
    inset 0px 2px 20px rgba(255, 255, 255, 0.07),
    -80px -15px 15px -5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1),
    inset 0px 2px 20px rgba(255, 255, 255, 0.07),
    -80px -15px 15px -5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1),
    inset 0px 2px 20px rgba(255, 255, 255, 0.07),
    -80px -15px 15px -5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1),
    inset 0px 2px 20px rgba(255, 255, 255, 0.07),
    -80px -15px 15px -5px rgba(0, 0, 0, 0.1);
}
input[value="on"]:checked ~ label {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.6),
    0px 0px 70px rgba(255, 255, 255, 0.6),
    -80px -15px 120px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.6),
    0px 0px 70px rgba(255, 255, 255, 0.6),
    -80px -15px 120px 0px rgba(255, 255, 255, 0.4);
  -ms-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.6),
    0px 0px 70px rgba(255, 255, 255, 0.6),
    -80px -15px 120px 0px rgba(255, 255, 255, 0.4);
  -o-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.6),
    0px 0px 70px rgba(255, 255, 255, 0.6),
    -80px -15px 120px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.6),
    0px 0px 70px rgba(255, 255, 255, 0.6),
    -80px -15px 120px 0px rgba(255, 255, 255, 0.4);
}

input[value="off"]:checked ~ label:after {
  content: " ";
  width: 15px;
  height: 15px;
  top: 0;
  position: absolute;
  left: 0;
  margin-left: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.03);
}
#sorpresa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
input[value="off"]:checked ~ #lampadina #sorpresa {
  opacity: 0;
}
input[value="on"]:checked ~ #lampadina #sorpresa {
  opacity: 1;
}
#footer {
  position: fixed;
  width: 94%;
  text-align: center;
  bottom: 30%;
  padding: 0 3%;
  z-index: 1;
}
#shadow {
  position: fixed;
  width: 94%;
  text-align: center;
  bottom: 29%;
  padding: 0 3%;
  color: rgba(0, 0, 0, 0);
  -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -ms-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 50% 0px;
  -moz-transform-origin: 50% 0px;
  -ms-transform-origin: 50% 0px;
  -o-transform-origin: 50% 0px;
  transform-origin: 50% 0px;
  -webkit-animation: ombraTesto 0.9s ease-in-out 0s infinite alternate;
  -moz-animation: ombraTesto 0.9s ease-in-out 0s infinite alternate;
  -ms-animation: ombraTesto 0.9s ease-in-out 0s infinite alternate;
  -o-animation: ombraTesto 0.9s ease-in-out 0s infinite alternate;
  animation: ombraTesto 0.9s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes oscillaFilo {
  from {
    -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
  }
}
@-moz-keyframes oscillaFilo {
  from {
    -moz-transform: rotate(5deg);
  }
  to {
    -moz-transform: rotate(-5deg);
  }
}
@-ms-keyframes oscillaFilo {
  from {
    -ms-transform: rotate(5deg);
  }
  to {
    -ms-transform: rotate(-5deg);
  }
}
@-o-keyframes oscillaFilo {
  from {
    -o-transform: rotate(5deg);
  }
  to {
    -o-transform: rotate(-5deg);
  }
}
@keyframes oscillaFilo {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

@-webkit-keyframes oscillaLampadina {
  from {
    -webkit-transform: rotate(3deg) translate(-16.4px, -1px);
  }
  to {
    -webkit-transform: rotate(-3deg) translate(16.4px, -1px);
  }
}
@-moz-keyframes oscillaLampadina {
  from {
    -moz-transform: rotate(3deg) translate(-16.4px, -1px);
  }
  to {
    -moz-transform: rotate(-3deg) translate(16.4px, -1px);
  }
}
@-ms-keyframes oscillaLampadina {
  from {
    -ms-transform: rotate(3deg) translate(-16.4px, -1px);
  }
  to {
    -ms-transform: rotate(-3deg) translate(16.4px, -1px);
  }
}
@-o-keyframes oscillaLampadina {
  from {
    -o-transform: rotate(3deg) translate(-16.4px, -1px);
  }
  to {
    -o-transform: rotate(-3deg) translate(16.4px, -1px);
  }
}
@keyframes oscillaLampadina {
  from {
    transform: rotate(3deg) translate(-16.4px, -1px);
  }
  to {
    transform: rotate(-3deg) translate(16.4px, -1px);
  }
}

@-webkit-keyframes ombraTesto {
  from {
    -webkit-transform: translate(1px, 0px) scale(1.01, 1.06) skew(0.9deg, 0deg);
  }
  to {
    -webkit-transform: translate(-1px, 0px) scale(1.01, 1.06)
      skew(-0.9deg, 0deg);
  }
}
@-moz-keyframes ombraTesto {
  from {
    -moz-transform: translate(1px, 0px) scale(1.01, 1.06) skew(0.9deg, 0deg);
  }
  to {
    -moz-transform: translate(-1px, 0px) scale(1.01, 1.06) skew(-0.9deg, 0deg);
  }
}
@-ms-keyframes ombraTesto {
  from {
    -ms-transform: translate(1px, 0px) scale(1.01, 1.06) skew(0.9deg, 0deg);
  }
  to {
    -ms-transform: translate(-1px, 0px) scale(1.01, 1.06) skew(-0.9deg, 0deg);
  }
}
@-o-keyframes ombraTesto {
  from {
    -o-transform: translate(1px, 0px) scale(1.01, 1.06) skew(0.9deg, 0deg);
  }
  to {
    -o-transform: translate(-1px, 0px) scale(1.01, 1.06) skew(-0.9deg, 0deg);
  }
}
@keyframes ombraTesto {
  from {
    transform: translate(1px, 0px) scale(1.01, 1.06) skew(0.9deg, 0deg);
  }
  to {
    transform: translate(-1px, 0px) scale(1.01, 1.06) skew(-0.9deg, 0deg);
  }
}

/* motion */

@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@keyframes border {
  0% {
    -webkit-clip-path: polygon(
      /*1*/ 0% 100%,
      /*2*/ $border 100%,
      /*3*/ $border $border,
      /*4*/ $width - $border $border,
      /*5*/ $width - $border $height - $border,
      /*6*/ $border $height - $border,
      /*7*/ $border 100%,
      /*8*/ 100% 100%,
      /*9*/ 100% 0%,
      /*10*/ 0% 0%
    );
  }
  25% {
    -webkit-clip-path: polygon(
      /*1*/ 0% 100%,
      /*2*/ $border 100%,
      /*3*/ $border $border,
      /*4*/ $width - $border $border,
      /*5*/ $width - $border $height - $border,
      /*6*/ $width - $border $height - $border,
      /*7*/ $width - $border 100%,
      /*8*/ 100% 100%,
      /*9*/ 100% 0%,
      /*10*/ 0% 0%
    );
  }
  50% {
    -webkit-clip-path: polygon(
      /*1*/ 0% 100%,
      /*2*/ $border 100%,
      /*3*/ $border $border,
      /*4*/ $width - $border $border,
      /*5*/ $width - $border $border,
      /*6*/ $width - $border $border,
      /*7*/ $width - $border $border,
      /*8*/ $width - $border $border,
      /*9*/ 100% 0%,
      /*10*/ 0% 0%
    );
  }
  75% {
    -webkit-clip-path: polygon(
      /*1*/ 0% 100%,
      /*2*/ $border 100%,
      /*3*/ $border $border,
      /*4*/ $border $border,
      /*5*/ $border $border,
      /*6*/ $border $border,
      /*7*/ $border $border,
      /*8*/ $border $border,
      /*9*/ $border 0%,
      /*10*/ 0% 0%
    );
  }
  100% {
    -webkit-clip-path: polygon(
      /*1*/ 0% 100%,
      /*2*/ $border 100%,
      /*3*/ $border 100%,
      /*4*/ $border 100%,
      /*5*/ $border 100%,
      /*6*/ $border 100%,
      /*7*/ $border 100%,
      /*8*/ $border 100%,
      /*9*/ $border 100%,
      /*10*/ 0% 100%
    );
  }
}
