<ion-content [fullscreen]="true">
  <div class="header">
    <div class="text-section centerPage">
      <h1 class="extra-heavy">
        <span class="special_letter">J</span>
        <span class="letter_div">a</span>
        <span class="letter_div">d</span>
        <span class="special_letter"> H</span>
        <span class="letter_div">a</span>
        <span class="letter_div">r</span>
        <span class="letter_div">m</span>
        <span class="letter_div">o</span>
        <span class="letter_div">u</span>
        <span class="letter_div">s</span>
        <span class="letter_div">h</span>
      </h1>
      <ngx-typed-js [strings]="['Project Manager', 'Web Developer', 'Full Stack Developer']" [loop]="true"
        [typeSpeed]="80">
        <p class="typing"></p>
      </ngx-typed-js>
      <app-fab-styled-button (buttonClicked)="goToCv()" [buttonText]="'my resume'"></app-fab-styled-button>
    </div>

    <img class="myImage" src="../../assets/images/jad-left-standing-transparent.png">

    <div class="shape1"><img src="assets/images/shapes/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/images/shapes/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/images/shapes/shape3.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/images/shapes/shape4.svg" alt="shape"></div>

    <div class="half-background"></div>
  </div>

  <div class="chat_div">
    <img (click)="openChat()" class="chatButtonImage" src="../../assets/images/chat-service/jayLaptop.webp">
    <div class="speech-bubble {{showChatText? '' : 'hideElement'}}">
      <p style="text-align: center;">Hello, I'm Jad Bot.<br>We can chat !</p>
    </div>
  </div>

  <div class="main-cards">
    <ion-grid class="about-me">
      <ion-row>
        <ion-col>
          <ion-card class="card" color="danger">
            <div class="text-area centerText">
              <h1 class="heavy">About me</h1>
              <p>
                I care deeply about creating world-class, useful, and beautiful products that can make a difference for
                both
                businesses and customers.
                <br>
                <br>
                For over a decade I had many opportunities to work in a vast spectrum of web technologies and gather a
                significant amount of various experience.
                <br>
                Working for companies and individuals around the globe I met and learnt from amazing and ambitious
                people.
              </p>
            </div>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card">
            <div class="text-area centerText">
              <h1 class="heavy">Workface</h1>
              <p>
                Since our life changes every day and updating a website without a CMS system is not practical, I created
                an online digital profile platform (free for everyone) to display social links and CV info with advanced
                features such as profile visitor trackers, that can easily be updated anytime from a mobile phone.
              </p>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button (click)="goToMyWorkface()" expand="block" color="secondary">
                      My Workface profile
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button (click)="goToWorkface()" expand="block" fill="outline" color="success">
                      <ion-icon slot="start" name="rocket"></ion-icon>
                      Create your profile
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="mini-stats">
    <app-my-stats></app-my-stats>
  </div>

  <div class="current-work greyBackground">
    <h1 class="heavy centerText">My Information</h1>
    <!-- You can make this list as a ng-for - I was too lazy for that -->
    <ion-card>
      <ion-list>
        <ion-item detail="false" (click)="expandItem('nationality')" [lines]="currentSelection === 'nationality'? 'none' : ''" [button]="true">
          <ion-icon color="danger" slot="start" name="id-card"></ion-icon>
          <ion-label color="danger">Nationality</ion-label>
          <ion-label slot="end">American</ion-label>
          <ion-icon slot="end" [name]="currentSelection === 'nationality'? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-card *ngIf="currentSelection === 'nationality'">
          <ion-card-content>
            <p>Born in Fort Worth, Texas - United States</p>
          </ion-card-content>
        </ion-card>
        <ion-item detail="false" (click)="expandItem('vaccine')" [lines]="currentSelection === 'vaccine'? 'none' : ''" [button]="true">
          <ion-icon color="danger" slot="start" name="fitness"></ion-icon>
          <ion-label color="danger">Vaccination</ion-label>
          <ion-label slot="end">Pfizer</ion-label>
          <ion-icon slot="end" [name]="currentSelection === 'vaccine'? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-card *ngIf="currentSelection === 'vaccine'">
          <ion-card-content>
            <p>Pfizer BioNTech - 2 Doses (13/03/2021 - 03/04/2021)</p>
          </ion-card-content>
        </ion-card>
        <ion-item detail="false" (click)="expandItem('university')" [lines]="currentSelection === 'university'? 'none' : ''" [button]="true">
          <ion-icon color="danger" slot="start" name="school"></ion-icon>
          <ion-label color="danger">University</ion-label>
          <ion-label slot="end">Aix Marseille University</ion-label>
          <ion-icon slot="end" [name]="currentSelection === 'university'? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-card *ngIf="currentSelection === 'university'">
          <ion-card-content>
            <p>Computer Science - Software Engineering Degree from Aix Marseille Université - France</p>
          </ion-card-content>
        </ion-card>
        <ion-item detail="false" (click)="expandItem('visa')" [lines]="currentSelection === 'visa'? 'none' : ''" [button]="true">
          <ion-icon color="danger" slot="start" name="journal"></ion-icon>
          <ion-label color="danger">Visa Status</ion-label>
          <ion-label slot="end">Work Visa</ion-label>
          <ion-icon slot="end" [name]="currentSelection === 'visa'? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-card *ngIf="currentSelection === 'visa'">
          <ion-card-content>
            <p>Dubai Resident - Work Visa</p>
          </ion-card-content>
        </ion-card>
        <ion-item detail="false" (click)="expandItem('language')" [lines]="currentSelection === 'language'? 'none' : ''" [button]="true">
          <ion-icon color="danger" slot="start" name="language"></ion-icon>
          <ion-label color="danger">Languages</ion-label>
          <ion-label slot="end">English, Arabic, French</ion-label>
          <ion-icon slot="end" [name]="currentSelection === 'language'? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-card *ngIf="currentSelection === 'language'">
          <ion-card-content>
            <ul>
              <li>English - Native speaker</li>
              <li>Arabic - Native speaker</li>
              <li>French - C2 level (proficient)</li>
            </ul>
          </ion-card-content>
        </ion-card>
        <ion-item detail="false" (click)="expandItem('position')" [lines]="currentSelection === 'position'? 'none' : ''" [button]="true">
          <ion-icon color="danger" slot="start" name="business"></ion-icon>
          <ion-label color="danger">Position</ion-label>
          <ion-label slot="end">Web Developer</ion-label>
          <ion-icon slot="end" [name]="currentSelection === 'position'? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-card *ngIf="currentSelection === 'position'">
          <ion-card-content>
            <p>Currently working for Dubai Civil Aviation Authority, in charge of <a href="https://www.dcaa.gov.ae/">dcaa.gov.ae</a> platform and internal systems</p>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-item detail="false" (click)="expandItem('awards')" [lines]="currentSelection === 'awards'? 'none' : ''" [button]="true">
        <ion-icon color="danger" slot="start" name="medal"></ion-icon>
        <ion-label color="danger">Awards</ion-label>
        <ion-label slot="end">4 Awards</ion-label>
        <ion-icon slot="end"[name]="currentSelection === 'awards'? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-item>
      <ion-card *ngIf="currentSelection === 'awards'">
        <ion-card-content>
          <ul>
            <li>2nd in Lebanon - Computer science castor competition in 2014</li>
            <li>Mediation certificate - University Saint Joseph</li>
            <li>Project manager certificate - Google</li>
            <li>DCAA excellence (all the IT Department)</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-card>
  </div>

  <div class="current-work centerText">
    <h1 class="heavy">Quick Links</h1>
    <p>
      You can install the website sourcecode via gitlab.
    </p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card (click)="goToMyWorkface()" [button]="true"  color="secondary">
            <ion-item color="secondary">
              <ion-icon slot="start" name="rocket"></ion-icon>
              <ion-label>Workface</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="goToLinkedIn()" [button]="true"  color="primary">
            <ion-item color="primary">
              <ion-icon slot="start" name="logo-linkedin"></ion-icon>
              <ion-label>LinkedIn</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card (click)="goToWhatsApp()" [button]="true"  color="success">
            <ion-item color="success">
              <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
              <ion-label>WhatsApp</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="goToInstagram()" [button]="true"  color="danger">
            <ion-item color="danger">
              <ion-icon slot="start" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card (click)="copyEmail()" [button]="true" color="medium">
            <ion-item color="medium">
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label>Email</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="openSourceCode()" [button]="true" color="tertiary">
            <ion-item color="tertiary">
              <ion-icon slot="start" name="logo-gitlab"></ion-icon>
              <ion-label>Source Code</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-contact-me-light></app-contact-me-light>
</ion-content>
