ion-card {
  @media only screen and (max-width: 500px) {
    margin: 0px !important;
  }
}

.header {
  position: relative;
  height: 100%;
  .grid {
    height: 100%;
  }
  .row {
    height: 100%;
  }
  .column {
    height: 100%;
    min-width: 400px;
  }
  .letter_div:hover {
    animation-name: ballon;
    animation-duration: 0.5s;
    font-size: 12vw;
  }
  .special_letter {
    color: #eb445a;
    text-shadow: -4px 4px darkred;
  }
  .special_letter:hover {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 12vw;
  }
  .text-section {
    position: absolute;
    width: 130%;
    text-align: left;
    left: 10%;
    h1 {
      font-size: 8vw;
      margin-bottom: 0px;
      z-index: 2;
      @media only screen and (max-width: 500px) {
        font-size: 6vh;
      }
    }
    p {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 5vw;
      z-index: 2;
      @media only screen and (max-width: 500px) {
        font-size: 4vh;
      }
    }
  }
  .half-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eb445a;
    z-index: -2;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 70% 100%);
  }
  .myImage {
    position: absolute;
    bottom: -50px;
    right: -30px;
    width: 42%;
    z-index: 1;
    @media only screen and (max-width: 500px) {
      width: 80%;
    }
  }
  .myImage:hover {
    filter: grayscale(90%);
  }
}

.main-cards {
  position: relative;
  z-index: 5;
  .about-me {
    margin-top: -40px;
    width: 100%;
    h1 {
      font-size: 5vw;
    }
    .text-area {
      padding: 15px;
    }
  }
  .card {
    min-width: 280px;
    min-height: 300px;
    @media only screen and (max-width: 1040px) {
      min-height: 400px;
    }
    @media only screen and (max-width: 635px) {
      min-height: 200px !important;
    }
  }
}

.current-work {
  padding: 15px;
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 4vw;
  }
  h3 {
    font-size: 1.7vw;
  }
}

.greyBackground {
  background-color: lightgrey;
}

.my-field {
  background-color: #f7fafd;
  height: 1000px;
}

.hideElement {
  opacity: 0;
}

.chat_div {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 99999;
  .chatButtonImage {
    width: 100px;
    margin-left: 20px;
  }
  .speech-bubble {
    position: relative;
    background: #cbdbdc;
    border-radius: .4em;
    min-height: 40px;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    animation: appear;
    animation-duration: 4s;
  }
  .speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #cbdbdc;
    border-top: 0;
    border-right: 0;
    margin-left: -10px;
    margin-top: -20px;
  }
}
/* Chat Animations */
@keyframes appear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Title Animations*/
@keyframes ballon {
  0% {
    font-size: 8vw;
  }
  15% {
    font-size: 9vw;
  }
  30% {
    font-size: 10vw;
  }
  45% {
    font-size: 11vw;
  }
  60% {
    font-size: 12vw;
  }
  75% {
    font-size: 13vw;
  }
  100% {
    font-size: 12vw;
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
    font-size: 8vw;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    font-size: 12vw;
  }
}

/*Animated Shapes*/
.shape1 {
  position: absolute;
  top: 10%;
  z-index: -1;
  left: 30px;
  animation: rotate3d 4s linear infinite;
  opacity: 0.4;
}
.shape2 {
  position: absolute;
  z-index: -1;
  top: 85%;
  left: 15%;
}
.shape3 {
  position: absolute;
  left: 25%;
  bottom: 15%;
  z-index: -1;
  animation: animationFramesOne 15s infinite linear;
}
.shape4 {
  position: absolute;
  right: 25%;
  bottom: 15%;
  z-index: -1;
  animation: animationFramesOne 20s infinite linear;
}
.shape5 {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: -1;
  animation: movebounce 5s linear infinite;
  opacity: 0.2;
}
.shape6 {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: 10%;
}
.shape7 {
  position: absolute;
  left: 25%;
  top: 15%;
  z-index: -1;
  animation: animationFramesOne 20s infinite linear;
}
.shape8 {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 10%;
}
.rotateme {
  animation-name: rotateme;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes movebounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
