<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="chat">
    <ng-container *ngFor="let message of visitorInformation.messages let x = index">
      <div *ngIf="!checkIfLastMessageIsSameUser(x)" no-lines>
        <div style="position: relative;" class="{{message.isBot? 'avatar-float-left' : 'avatar-float-right'}}" >
          <ion-avatar class="avatar">
            <img src="{{message.isBot? botImage : visitorImage}}">
          </ion-avatar>
        </div>
        <div class="{{message.isBot? 'title-float-left' : 'title-float-right'}}">
          <h2 class="{{message.isBot? 'avatar-float-left' : 'avatar-float-right'}}" *ngIf="!checkIfLastMessageIsSameUser(x)">
            {{message.isBot? message.senderName : visitorInformation.visitorName}}
          </h2>
        </div>
      </div>
      <div class="{{message.isBot? 'customer' : 'participant'}} messages">
        <div class="message {{checkIfNextMessageIsSameUser(x)? '' : 'last'}}">
          <span *ngIf="message.message" class="{{handwritingMode && message.isBot? 'myFont' : ''}}">{{message.message}}</span>
        </div>
        <span *ngIf="!checkIfNextMessageIsSameUser(x)" class="{{message.isBot? 'date-customer' : 'date-participant'}}">{{message.timestamp| time:'transform'}}</span>
      </div>
    </ng-container>
    <div *ngIf="botTyping" class="customer messages">
      <div class="pop-in message last">
        <div class="typing">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-textarea [formControl]="sendingMessage" rows="2" placeholder="Type Here..."></ion-textarea>
      <ion-button slot="end" (click)="sendMessageVisitor()" size="default" fill="clear">
        <ion-icon color="{{sendingMessage.valid? 'success' : 'medium'}}" slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
