$gray: rgb(175, 175, 175);
$verylightgray: rgb(236, 236, 236);
$primaryColor: #eb445a;

.myFont {
  font-family: jayFont;
}

.date-customer {
  float: right;
  margin-left: 13px;
  width: 100%;
  font-size: xx-small;
}

.date-participant {
  float: left;
  margin-right: 13px;
  font-size: xx-small;
}

// NEW IOS INSPIRED CHAT

.avatar-float-left {
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

.avatar-float-right {
  float: right;
  margin-top: 4px;
  margin-bottom: 4px;
}

.title-float-left {
  float: left;
  //padding-left: 24px;
  //padding-right: 15px;
  //background-color: $verylightgray;
  //border-radius: 18px;
  margin-top: 15px;
  //margin-left: -18px;
  color: black;
}

.title-float-right {
  float: right;
  //padding-right: 25px;
  //padding-left: 15px;
  //background-color: $verylightgray;
  //border-radius: 18px;
  margin-top: 15px;
  //margin-right: -18px;
  color: $primaryColor;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  display: inline-block;
  min-width: 5%;
  max-width: 80%;
}

.customer {
  align-items: flex-start;
}

.customer .message {
  color: white;
  margin-right: 25%;
  background-color: $gray;
  position: relative;
}

.customer .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: $gray;
  border-bottom-right-radius: 15px;
}
.customer .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.participant {
  align-items: flex-end;
}

.participant .message {
  color: white;
  margin-left: 25%;
  background: $primaryColor;
  position: relative;
}

.participant .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: $primaryColor;
  border-bottom-left-radius: 15px;
}

.participant .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.avatar {
  width: 80px !important;
  height: 80px !important;
}

.avatar img {
  width: 80px;
  border-radius: 80%;
}

// Typing animation Test
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #ffffff; //rgba(20,105,69,.7);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #fff5f5; // rgba(20,105,69,.7);
  }
  28% {
    transform: translateY(-7px);
    background-color: #d2f6ff; //rgba(20,105,69,.4);
  }
  44% {
    transform: translateY(0px);
    background-color: #8fe9ff; //rgba(20,105,69,.2);
  }
}
